<mat-card class="example-card">
  <mat-card-header>
    <img mat-card-avatar [src]="imagenDataAvatar" *ngIf="imagenEstado">

    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>Nombre de Usuario: {{usuario}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="imagenData" *ngIf="imagenEstado" idth="50%" height="50%">
  
  
  <mat-card-content>
    <p>
      Roles:
    </p>
    <mat-list>
      <mat-list-item *ngFor="let ru of roles"> {{ru}} </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
